.solar {
    width: 100%;
    height: auto;
    background-image: url('../../../assets/solar/solar-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.solar-h1 {
    margin: 20vw 0 0 2.5vw;
    color: #fff;
}
.solar-h3 {
    margin: 1vw 0 18vw 2.5vw;
    color: #fff;
}
.solar-triangle {
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 7vw 45vw;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
}
.solar-container { 
    width: 24px; 
    height: 24px;
    margin: 3vw auto;
    cursor: pointer;
} 
     
.solar-container__chevron { 
    position: absolute; 
    width: 28px; 
    height: 8px; 
    opacity: 0; 
    transform: scale3d(0.5, 0.5, 0.5); 
    animation: move 3s ease-out infinite; 
} 
     
.solar-container__chevron:first-child { 
    animation: move 3s ease-out 1s infinite; 
} 
     
.solar-container__chevron:nth-child(2) { 
    animation: move 3s ease-out 2s infinite; 
} 
     
.solar-container__chevron:before, 
.solar-container__chevron:after { 
    content: ' '; 
    position: absolute; 
    top: 0; 
    height: 100%; 
    width: 51%; 
    background: #fff; 
} 
     
.solar-container__chevron:before { 
    left: 0; 
    transform: skew(0deg, 30deg); 
} 
     
.solar-container__chevron:after { 
    right: 0; 
    width: 50%; 
    transform: skew(0deg, -30deg); 
} 
     
@keyframes move { 
    25% { 
    opacity: 1; 
    } 
    33% { 
    opacity: 1; 
    transform: translateY(30px); 
    } 
    67% { 
    opacity: 1; 
    transform: translateY(40px); 
    } 
    100% { 
    opacity: 0; 
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5); 
    } 
} 